POCeGastosWS/POCeGastosWS/Service References/CFDIService/CFDI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://saosultdev02.pharma.aventis.com/WCFGastos/Expense/CFDI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities.Expense" />
  <xs:element name="selectExtract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="option" type="xs:int" />
        <xs:element minOccurs="0" name="responsibleEmployeeNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="amountFrom" nillable="true" type="xs:double" />
        <xs:element minOccurs="0" name="amountTo" nillable="true" type="xs:double" />
        <xs:element minOccurs="0" name="idRequest" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectExtractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities.Expense" minOccurs="0" name="selectExtractResult" nillable="true" type="q1:ArrayOfExtract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idExtract" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities.Expense" minOccurs="0" name="selectDetailResult" nillable="true" type="q2:ArrayOfExtract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchInvoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="responsibleMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idRequest" type="xs:int" />
        <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="amountFrom" nillable="true" type="xs:double" />
        <xs:element minOccurs="0" name="amountTo" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities.Expense" minOccurs="0" name="searchInvoicesResult" nillable="true" type="q3:ArrayOfXml" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>