POCeGastosWS/POCeGastosWS/Service References/DataBaseService/DataBase4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities.Ultimus" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities.Ultimus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UltSAPResponse">
    <xs:sequence>
      <xs:element name="_x003C_company_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_docNumber_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_idRequest_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_idResponse_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_type_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_year_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UltSAPResponse" nillable="true" type="tns:UltSAPResponse" />
  <xs:complexType name="ArrayOfUltSAPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UltSAPResponse" nillable="true" type="tns:UltSAPResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUltSAPResponse" nillable="true" type="tns:ArrayOfUltSAPResponse" />
  <xs:complexType name="ArrayOfUltItineraryOptions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UltItineraryOptions" nillable="true" type="tns:UltItineraryOptions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUltItineraryOptions" nillable="true" type="tns:ArrayOfUltItineraryOptions" />
  <xs:complexType name="UltItineraryOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="confirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="idItineraryOption" type="xs:int" />
      <xs:element minOccurs="0" name="idMissionOrder" type="xs:int" />
      <xs:element minOccurs="0" name="idRate" type="xs:int" />
      <xs:element minOccurs="0" name="lastDayPurchase" type="xs:dateTime" />
      <xs:element minOccurs="0" name="observations" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quoteRate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UltItineraryOptions" nillable="true" type="tns:UltItineraryOptions" />
</xs:schema>