POCeGastosWS/POCeGastosWS/Service References/DataBaseService/DataBase.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities.Chatty" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities.Chatty" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCatalogC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogC" nillable="true" type="tns:CatalogC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogC" nillable="true" type="tns:ArrayOfCatalogC" />
  <xs:complexType name="CatalogC">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCatalog" type="xs:int" />
      <xs:element minOccurs="0" name="idOwner" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogC" nillable="true" type="tns:CatalogC" />
  <xs:complexType name="ArrayOfUltExpenseAccountDetailC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UltExpenseAccountDetailC" nillable="true" type="tns:UltExpenseAccountDetailC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUltExpenseAccountDetailC" nillable="true" type="tns:ArrayOfUltExpenseAccountDetailC" />
  <xs:complexType name="UltExpenseAccountDetailC">
    <xs:sequence>
      <xs:element minOccurs="0" name="IVA" type="xs:double" />
      <xs:element minOccurs="0" name="IVATypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IVATypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="discount" type="xs:double" />
      <xs:element minOccurs="0" name="expenseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hasPAClient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="healthProfessional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAccount" type="xs:int" />
      <xs:element minOccurs="0" name="idExpenseAccount" type="xs:int" />
      <xs:element minOccurs="0" name="idExpenseAccountDetail" type="xs:int" />
      <xs:element minOccurs="0" name="invoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberOfDiners" type="xs:int" />
      <xs:element minOccurs="0" name="observationId" type="xs:int" />
      <xs:element minOccurs="0" name="observationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="place" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UltExpenseAccountDetailC" nillable="true" type="tns:UltExpenseAccountDetailC" />
  <xs:complexType name="UltRequestC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CeCoCode" type="xs:int" />
      <xs:element minOccurs="0" name="CeCoMiniCode" type="xs:int" />
      <xs:element minOccurs="0" name="CeCoMiniName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CeCoName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PEPElementId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PEPElementName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="areaId" type="xs:int" />
      <xs:element minOccurs="0" name="areaText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="arrival" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyCode" type="xs:int" />
      <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currencyId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departureDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="exchangeRate" type="xs:double" />
      <xs:element minOccurs="0" name="idRequest" type="xs:int" />
      <xs:element minOccurs="0" name="initiatorLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="initiatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isMiniEvent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pasteur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="responsibleEmployeeNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responsibleLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responsibleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responsiblePayMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responsibleUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="returnDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salesForce" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="statusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
      <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ultimusNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UltRequestC" nillable="true" type="tns:UltRequestC" />
  <xs:complexType name="UltMissionOrderC">
    <xs:sequence>
      <xs:element minOccurs="0" name="advance" type="xs:double" />
      <xs:element minOccurs="0" name="advanceApply" type="xs:int" />
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countAgencyWait" type="xs:int" />
      <xs:element minOccurs="0" name="hotel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAgencyLog" type="xs:int" />
      <xs:element minOccurs="0" name="idAgencyResponse" type="xs:int" />
      <xs:element minOccurs="0" name="idMissionOrder" type="xs:int" />
      <xs:element minOccurs="0" name="idRequest" type="xs:int" />
      <xs:element minOccurs="0" name="itinerary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nationalCurrency" type="xs:double" />
      <xs:element minOccurs="0" name="objective" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusAgencyProcess" type="xs:int" />
      <xs:element minOccurs="0" name="statusAgencySend" type="xs:int" />
      <xs:element minOccurs="0" name="travelId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="travelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UltMissionOrderC" nillable="true" type="tns:UltMissionOrderC" />
  <xs:complexType name="ArrayOfUltItineraryC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UltItineraryC" nillable="true" type="tns:UltItineraryC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUltItineraryC" nillable="true" type="tns:ArrayOfUltItineraryC" />
  <xs:complexType name="UltItineraryC">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrivalCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="arrivalCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="arrivalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="departureCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departureCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departureDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="departureHour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idConsecutive" type="xs:int" />
      <xs:element minOccurs="0" name="idItinerary" type="xs:int" />
      <xs:element minOccurs="0" name="idLedgerAccount" type="xs:int" />
      <xs:element minOccurs="0" name="idMissionOrder" type="xs:int" />
      <xs:element minOccurs="0" name="nameLedgerAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameTravelType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="observations" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="returnHour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="travelType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UltItineraryC" nillable="true" type="tns:UltItineraryC" />
  <xs:complexType name="ArrayOfUltHotelC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UltHotelC" nillable="true" type="tns:UltHotelC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUltHotelC" nillable="true" type="tns:ArrayOfUltHotelC" />
  <xs:complexType name="UltHotelC">
    <xs:sequence>
      <xs:element minOccurs="0" name="IVA" type="xs:double" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="checkInDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="checkoutDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hotelTax" type="xs:double" />
      <xs:element minOccurs="0" name="idConsecutive" type="xs:int" />
      <xs:element minOccurs="0" name="idHotel" type="xs:int" />
      <xs:element minOccurs="0" name="idLegerAccount" type="xs:int" />
      <xs:element minOccurs="0" name="idMissionOrder" type="xs:int" />
      <xs:element minOccurs="0" name="idRated" type="xs:int" />
      <xs:element minOccurs="0" name="lineStatus" type="xs:int" />
      <xs:element minOccurs="0" name="lineStatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameLegerAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="observations" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="otherTaxes" type="xs:double" />
      <xs:element minOccurs="0" name="quotedRate" type="xs:double" />
      <xs:element minOccurs="0" name="realRate" type="xs:double" />
      <xs:element minOccurs="0" name="reservation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UltHotelC" nillable="true" type="tns:UltHotelC" />
  <xs:complexType name="UltExpenseAccountC">
    <xs:sequence>
      <xs:element minOccurs="0" name="charged" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="creditCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idExpenseAccount" type="xs:int" />
      <xs:element minOccurs="0" name="idRequest" type="xs:int" />
      <xs:element minOccurs="0" name="nationalManagerLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nationalManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="overdue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalMeal" type="xs:double" />
      <xs:element minOccurs="0" name="totalMiniEvent" type="xs:double" />
      <xs:element minOccurs="0" name="totalNationalMeal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UltExpenseAccountC" nillable="true" type="tns:UltExpenseAccountC" />
</xs:schema>